<div class="flex items-baseline justify-between mb-6">
  <h2 class="mt-6 text-2xl font-bold text-gray-700">
    Books
  </h2>
  <%= link_to "Add a new book", new_book_path, class: "btn-primary-outline" %>
</div>

<div class="shadow overflow-hidden sm:rounded-md">
  <div class="divide-y divide-gray-200" id="books">
    <%= render @books %>
  </div>
</div>
